@model Akelote_e_Shop.Models.Item

@{
    ViewBag.Title = "Item details";
}

<style type="text/css">
    .item-details {
        overflow: auto;
    }

    .item-details-image, .item-details-main {
        float: left;
    }

    .item-details-main {
        margin-left: 30px;
    }
</style>
<div class="item-details">
    @if (Model.Images.Any())
    {
        <div class="item-details-image">
        @foreach (var image in Model.Images)
        {
            <img alt="@image.Caption" src="~/Content/@image.HyperLink" />
            @* TODO: display other images as a carousel *@
            break;
        }
        </div>
    }

    <div class="item-details-main">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReadablePrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Discount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Discount)
            </dd>

        </dl>
    </div>
</div>

<div>
    <table class="table table-striped">
        <tbody class="text-center">
            @foreach (var property in Model.Category.GetAllProperties())
            {
                <tr>
                    <td>
                        @Html.Label(property.Name)
                    </td>
                    <td>
                        @{
                            var itemProperty = Model.ItemProperties
                                .SingleOrDefault(p => p.PropertyId == property.Id);
                        }

                        @if (itemProperty != null)
                        {
                            @Html.Label(itemProperty.PropertyValue);
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
