@model Akelote_e_Shop.Models.Item

@{
    ViewBag.Title = Model.Title;
}

<style type="text/css">
    .item-details {
        overflow: auto;
    }

    .item-details-image, .item-details-main {
        float: left;
    }

    .item-details-main {
        margin-left: 30px;
        width: calc(100% - 270px);
    }

    .item-details-image {
        padding: 20px;
        background: #EEE;
    }

    .item-details-image .carousel-inner {
        height: 200px;
    }

    .item-details-image .carousel-inner > .active {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .item-details-image .carousel-inner > .next,
    .item-details-image .carousel-inner > .prev {
        top: 50%;
        transform: translateY(-50%);
    }

    .item-details-image img {
        max-width: 200px;
        max-height: 200px;
    }

    .item-details-price {
        font-size: 30px;
        text-align: right;
        background: gray;
        color: white;
    }
</style>




<div class="item-details">
    <div class="item-details-image">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            @if (Model.Images.Any())
            {
                if (Model.Images.Count > 1)
                {
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                }
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var image in Model.Images)
                        {
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/Content/@image.HyperLink" alt="@image.Caption">
                            </div>
                        }
                    </div>
                    @if (Model.Images.Count > 1)
                    {
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    }
                </div>
            }
        </div>
    </div>

        <div class="item-details-main">
            @foreach (var line in Model.Description.Split('\n'))
            {
                <p>@line</p>
            }
            <div class="item-details-price">
                @Model.ReadablePrice
            </div>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <tbody class="text-center">
                @foreach (var property in Model.Category.GetAllProperties())
                {
                    <tr>
                        <td>
                            @Html.Label(property.Name)
                        </td>
                        <td>
                            @{
                                var itemProperty = Model.ItemProperties
                                    .SingleOrDefault(p => p.PropertyId == property.Id);
                            }

                            @if (itemProperty != null)
                            {
                                @Html.Label(itemProperty.PropertyValue);
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
