@model Akelote_e_Shop.Models.Category

@{
    ViewBag.Title = "Category details";
}

@section actions
{
    <div>
        @Html.ActionLink("Edit", "Edit", "Category", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary ml-2" })
        @Html.ActionLink("Back to list", "Index", "Category", null, new { @class = "btn btn-sm btn-secondary" })
    </div>

}

<div>

    <div class="row">

        <div class="col-6">
            <label>Title</label>
            <strong> @Html.DisplayFor(model => model.Title)</strong>
        </div>

        <div class="col-6">
            <label>Parent</label>
            <strong>@Html.DisplayFor(model => model.Parent.Title)</strong>
        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <label>Discount</label>
            <strong>@Html.DisplayFor(model => model.Discount)</strong>

        </div>

    </div>
    
    <hr/>

    <h4 class="text-center">Properties</h4>
    
    <br />
    
    <table class="table table-striped">

        <thead class="thead-dark">

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>

        </thead>


        @foreach (var item in Model.Properties) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Property", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Property", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Property", new { id = item.Id }, null)
                </td>
            </tr>
        }

        @if (!Model.Properties.Any()) {
            <tr>
                <td colspan="3">No data</td>
            </tr>
        }

    </table>

</div>
