@model Akelote_e_Shop.Models.Category

@{
    ViewBag.Title = "Category details";
}

@section actions
{
    <div>
        @Html.ActionLink("Edit", "Edit", "Category", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary ml-2" })
        @Html.ActionLink("Back to list", "Index", "Category", null, new { @class = "btn btn-sm btn-secondary" })
    </div>

}

<div>

    <div class="row">

        <div class="col-6">
            <label>Title</label>
            <strong> @Html.DisplayFor(model => model.Title)</strong>
        </div>

        <div class="col-6">
            <label>Parent</label>
            <strong>@Html.DisplayFor(model => model.Parent.Title)</strong>
        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <label>Discount</label>
            <strong>@Html.DisplayFor(model => model.Discount)</strong>

        </div>

    </div>

</div>
