@model Akelote_e_Shop.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/remove-from-cart.js"></script>
}

<div id="update-message">
</div>

@{bool dataExists = Model.CartItems.Any(); }
<div class="no-data" style="@(dataExists ? "display:none" : "display:")">
    <i class="material-icons">cloud_off</i>
    <p>No items yet...</p>
</div>

<table class="table table-striped data-view" style="@(dataExists ? "display:" : "display:none")">
    <thead class="text-center thead-dark">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody class="text-center">
        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.RecordId">
                <td>
                    @Html.ActionLink(item.Item.Title, "Details", "Items", new { id = item.ItemId }, null)
                </td>
                <td>
                    @item.Item.ReadablePrice
                </td>
                <td id="item-count-@item.RecordId">
                    @item.Count
                </td>

                <td>
                    <a href="#" class="RemoveLink"
                        data-id="@item.RecordId">
                        Remove
                        from cart
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Checkout", "Index", "OrderInfo", null, new { @style=(dataExists ? "display:" : "display:none"), @class = "btn btn-secondary float-right data-view" })