@model Akelote_e_Shop.Models.Payment
@{
    ViewBag.Title = "Checkout";
}

@section Scripts
{
    <script src="~/Scripts/jquery-1.10.2.min.js"
            type="text/javascript"></script>
}

@using (Html.BeginForm("Pay", "Checkout", FormMethod.Post))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <input type="hidden" name="amount" value="100" />
    <table>
        <tr>
            <th>Credit card number:</th>
            <td>
                @Html.TextBoxFor(m => m.Number, new { @maxLength = "16" })
            </td>
        </tr>
        <tr>
            <th>Full name of holder:</th>
            <td>
                @Html.TextBoxFor(m => m.Holder, new { @maxLength = "32" })
            </td>
        </tr>
        <tr>
            <th>Expiry year:</th>
            <td>
                @Html.TextBoxFor(m => m.ExpiryYear, new { @type = "number", @min = "1970" })
            </td>
        </tr>
        <tr>
            <th>Expiry month:</th>
            <td>
                @Html.TextBoxFor(m => m.ExpiryMonth, new { @type = "number", @min = "1", @max = "12" })
            </td>
        </tr>
        <tr>
            <th>CVV:</th>
            <td>
                @Html.TextBoxFor(m => m.Cvv, new { @type = "number", @maxLength = "3" })
            </td>
        </tr>
    </table>
    <input type="submit" value="Pay" />
}