@model Akelote_e_Shop.Models.Property

@{
    ViewBag.Title = "Edit property";
}

@section actions
{
    @Html.ActionLink("Back to list", "Index", "Property", null, new { @class = "btn btn-sm btn-primary" })
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        
        <div class="row">
            
            <div class="col-6">

                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
            
            <div class="col-6">

                @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })

            </div>

        </div>
        
        <div class="row">
            
            <div class="col">
                
                <input type="submit" value="Save" class="btn btn-primary float-right" />

            </div>

        </div>

    </div>
}