@model Akelote_e_Shop.Models.Item

@{
    ViewBag.Title = "Item details";
}

@section actions
{
    <div>
        @Html.ActionLink("Edit", "Edit", "Item", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary ml-2" })
        @Html.ActionLink("Back to list", "Index", "Item", null, new { @class = "btn btn-sm btn-secondary" })
    </div>

}

    <div>

        <div class="row">

            <div class="col-6">

                <label>Title</label>
                <strong>@Html.DisplayFor(model => model.Title)</strong>

</div>

            <div class="col-6">

                <label>Category</label>
                <strong>@Html.DisplayFor(model => model.Category.Title)</strong>

</div>

        </div>

        <div class="row">

            <div class="col-6">

                <label>Price</label>
                <strong>@Html.DisplayFor(model => model.Price)</strong>

</div>

            <div class="col-6">

                <label>Discount</label>
                @Html.DisplayFor(model => model.Discount)</strong>

            </div>

        </div>

        <div class="row">

            <div class="col-6">

                <label>Description</label>
                <strong>@Html.DisplayFor(model => model.Description)</strong>

</div>

            <div class="col-6">

                <label>Deleted</label>
                <strong>@Html.DisplayFor(model => model.Deleted)</strong>

</div>

        </div>
</div>