@model Akelote_e_Shop.Models.Order

@{
    ViewBag.Title = "Order details";
}

@section actions
{
    <div>
        @Html.ActionLink("Complete", "Complete", "Order", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary ml-2" })
        @Html.ActionLink("Back to list", "Index", "Order", null, new { @class = "btn btn-sm btn-secondary" })
    </div>

}

<div>

    <div class="row">

        <div class="col-6">

            <label>User email</label>
            <strong> @Html.DisplayFor(model => model.User.Email)</strong>

        </div>

        <div class="col-6">

            <label>Date</label>
            <strong>@Html.DisplayFor(model => model.Date)</strong>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <label>Status</label>
            <strong>@Html.DisplayFor(model => model.Status)</strong>

        </div>

        <div class="col-6">

            <label>Destination</label>
            <strong>@Html.DisplayFor(model => model.Destination)</strong>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <label>Order discount</label>
            <strong>@Html.DisplayFor(model => model.OrderDiscount)</strong>

        </div>

        <div class="col-6">

            <label>Rating</label>
            <strong>@Html.DisplayFor(model => model.Rating)</strong>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <label>First name</label>
            <strong>@Html.DisplayFor(model => model.FirstName)</strong>

        </div>

        <div class="col-6">

            <label>Last name</label>
            <strong>@Html.DisplayFor(model => model.LastName)</strong>

        </div>

    </div>

    <div class="row">

        <div class="col-6">

            <label>Phone</label>
            <strong>@Html.DisplayFor(model => model.Phone)</strong>

        </div>

        <div class="col-6">

            <label>Email</label>
            <strong>@Html.DisplayFor(model => model.Email)</strong>

        </div>

    </div>
    
    <div class="row">
        
        <div class="col-6">

            <label>Description</label>
            <strong>@Html.DisplayFor(model => model.Description)</strong>

        </div>

    </div>
    
    <hr/>
    
    <h4>Items</h4>
    
    <br/>
    
    <table class="table table-striped">

        <thead class="thead-dark">

        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
            <th>Discount</th>
            <th>Deleted</th>
            <th>Actions</th>
        </tr>

        </thead>



        @foreach (var item in Model.OrderItems) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Item.Category.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Item.Discount)</td>
                <td>@Html.DisplayFor(modelItem => item.Item.Deleted)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Item", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Item", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Item", new { id = item.Id }, null)
                </td>
            </tr>
        }

        @if (!Model.OrderItems.Any()) {
            <tr>
                <td colspan="8">No data</td>
            </tr>
        }

    </table>

</div>