@model IEnumerable<Akelote_e_Shop.Models.Order>

@{
    ViewBag.Title = "Orders list";
}

@section actions
{
    <div>
        @Html.ActionLink("Export Excel", "Export", "Order", null, new { @class = "btn btn-sm btn-secondary" })
    </div>

}

<table class="table table-striped">

    <thead class="thead-dark">

        <tr>
            <th>Id</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.Destination)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.OrderDiscount)</th>
            <th>@Html.DisplayNameFor(model => model.Rating)</th>
            <th>Actions</th>
        </tr>

    </thead>

    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
            <td>@Html.DisplayFor(modelItem => item.Destination)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.OrderDiscount)</td>
            <td>@Html.DisplayFor(modelItem => item.Rating)</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @Html.ActionLink("Complete", "Complete", new { id = item.Id })
            </td>
        </tr>
    }

    @if (Model.Count() == 0) {
        <tr>
            <td colspan="8">No data</td>
        </tr>
    }

</table>
